<nav class="nav">
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
</nav>
<% if @users.empty? %>
  No users
<% else %>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <%= render user %>
    <% end %><br>
  <% end %>
<% end %>
