<body>
<%= render @user %>
<% @posts.each do |post| %>
    <a href="<%= user_post_path(@user, post) %>"><%= render post %></a>
    <%= "no comments for this post" if post.comments.empty?%>
    <div class="comments">
    <% post.recent_comments.includes(:author).each do |comment|%>
        <%=render comment%>
    <% end %>
    <p id="view-post"><%= link_to 'View Post', user_post_path(@user, post) %></p>
    </div>
    
<div class="button-container">
<%= will_paginate @posts %>
    <button>See all posts</a></button>
</div>
    <% end %>

</body>
